@page
@model AbbeyWeb.Pages.Categories.DeleteModel


<form method="post">
    <input hidden asp-for="@Model.Category.Id" />
    <div class="border p-3 m-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="@Model.Category.Name" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="@Model.Category.DisplayOrder" class="form-control" readonly>
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px"><i class="bi bi-archive"></i>Delete</button>
        <a asp-page="Index" class="btn btn-primary" style="width:150px"><i class="bi bi-arrow-left"></i>Back to List</a>
    </div>
</form>

@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial"/> }
}
